@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Poppins;
    padding: 20px 40px;
}
header, footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkorange;
    padding: 20px;
    border: 1px darkorange;
    border-radius: 10px;
    box-shadow: -1px -1px 49px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 49px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 49px 0px rgba(0,0,0,0.75);
}

img {
    width: 200px;
    box-shadow: -1px -1px 49px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 49px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 49px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

h1, h4 {
    color: white;
    text-shadow: 2px 2px 5px #000;
}

footer {
    flex-direction: column;
}